#Intro {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 26px;
}
#Members, #Tracks {
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
}
table {
	font-size: 24px;
	font-weight: 700;
}
caption {
	margin-left: -25px;
	font-size: 36px;
}
.albumimg {
        background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/7/7d/Blurryface_by_Twenty_One_Pilots.png/220px-Blurryface_by_Twenty_One_Pilots.png");
        background-size: 200px;
    	background-repeat: no-repeat;
    	padding-top: 10%;
    	margin-left:44.5%;
    	margin-top: 100px;
}