<head>
	<title>Dvd Library</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-2">
				<button class="btn btn-secondary" id="create">Create Dvd</button>
			</div>
			<div class="col-md-8">
				<button class="btn btn-secondary" id="search">Search</button>
				<select id="search_category">
					<option value="category" disabled selected>Search Category</option>
					<option value="title">Title</option>
					<option value="year">Release Date</option>
					<option value="director">Director</option>
					<option value="rating">Rating</option>
				</select>
				<input type="text" id="search_term" placeholder="Search Term">
			</div>

		</div>
	</div>
	<hr>
	<div class="container">
		<div class="alert alert-danger" id="search_alert">Both Search Category and Search Term are required.</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Release Date</th>
					<th>Director</th>
					<th>Rating</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="dvdListBody">
			</tbody>
		</table>
	</div>

	<!-- Modals -->
	<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="search_title"></h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="searchList">
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Confirmation</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete this Dvd from your collection?</p>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" id="deleteIt">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="createModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Create Dvd</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" id="title_alert">Please enter a title for the DVD</div>
					<div class="alert alert-danger" id="year_alert">Please enter a 4-digit year</div>
					<div class="form-group">
						<label for="dvd_title" class="form-control-label">Dvd Title:</label>
						<input type="text" class="form-control" id="dvd_title" placeholder="Enter Title"></textarea>
					</div>
					<div class="form-group">
						<label for="dvd_year" class="form-control-label">Release Year:</label>
						<input type="text" class="form-control" id="dvd_year" placeholder="Enter Release Year"></textarea>
					</div>
					<div class="form-group">
						<label for="dvd_director" class="form-control-label">Director:</label>
						<input type="text" class="form-control" id="dvd_director" placeholder="Enter Director"></textarea>
					</div>

					<div class="form-group">
						<label for="dvd_rating" class="form-control-label">Rating:</label>
						<select id="dvd_rating">
							<option value="G" selected>G</option>
							<option value="PG">PG</option>
							<option value="PG-13">PG-13</option>
							<option value="R">R</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dvd_notes" class="form-control-label">Note:</label>
						<textarea class="form-control" id="dvd_notes" placeholder="Enter Note"></textarea>
					</div>
					
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" id="createIt">Create Dvd</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Edit Dvd</h2>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" id="title__edit_alert">Please enter a title for the DVD</div>
					<div class="alert alert-danger" id="year_edit_alert">Please enter a 4-digit year</div>
					<div class="form-group">
						<label for="dvd_title" class="form-control-label">Dvd Title:</label>
						<input type="text" class="form-control" id="dvd_edit_title"></textarea>
					</div>
					<div class="form-group">
						<label for="dvd_year" class="form-control-label">Release Year:</label>
						<input type="text" class="form-control" id="dvd_edit_year"></textarea>
					</div>
					<div class="form-group">
						<label for="dvd_director" class="form-control-label">Director:</label>
						<input type="text" class="form-control" id="dvd_edit_director"></textarea>
					</div>

					<div class="form-group">
						<label for="dvd_edit_rating" class="form-control-label">Rating:</label>
						<select id="dvd_edit_rating">
							<option value="G" selected>G</option>
							<option value="PG">PG</option>
							<option value="PG-13">PG-13</option>
							<option value="R">R</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dvd_edit_notes" class="form-control-label">Note:</label>
						<textarea class="form-control" id="dvd_edit_notes"></textarea>
					</div>
					
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-success" id="editIt">Create Dvd</button>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/home.js"></script>


</body>
<footer style="color:white;" class="text-center">Made by Chris Brooks</footer>
