<head>
	<title>Vending Machine</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="css/home.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="text-center">
		<div class="row">
			<h1>Vending Machine</h1>
			<hr>
		</div>
		
	</div>

	<div class="container-fluid">
		<div class="col-md-9 text-center" id="inventory">
			<!-- START OF INVENTORY BUTTONS -->
		</div>
		<div class="col-md-3 text-center">
			<h3>Total $ In</h3>
			<form>
				<input type="text" class="form-control" placeholder="0.00" readonly="readonly" id="money_in">
			</form>
			<div class="row">
			<button type="button" class="btn btn-secondary" id="dollar">Add Dollar</button>
				<button type="button" class="btn btn-secondary" id="quarter">Add Quarter</button>
			</div>
			<div class="row">
				<button type="button" class="btn btn-secondary" id="dime">Add Dime</button>
				<button type="button" class="btn btn-secondary" id="nickel">Add Nickel</button>
			</div>
			<hr>
			<h3>Messages</h3>
			<form>
				<input type="text" class="form-control" placeholder="" readonly="readonly" id="messages">
			</form>
			<form>
				<h4>Item:</h4>
				<input type="text" class="form-control" placeholder="" readonly="readonly" id="item_id">
			</form>
			<button type="button" class="btn btn-secondary" id="purchase">Make Purchase</button>
			<hr>
			<h3>Change</h3>
			<form>
				<input type="text" class="form-control" placeholder="" readonly="readonly" id="change">
			</form>
			<button type="button" class="btn btn-secondary" id="change_return">Change Return</button>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="js/home.js"></script>

</body>